/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('images/index_background.jpg'); /* Path to your background image */
    background-size: cover; /* Make the image cover the entire page */
    background-position: center center; /* Center the image */
    background-attachment: fixed; /* Keep the background fixed when scrolling */
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0D3913; /* Pine Green */
    color: #fff;
    padding: 1rem;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Contact Section */
.contact {
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 900px;
    border-radius: 8px;
}

.contact h2 {
    font-size: 2.5rem;
    color: #0D3913;
    margin-bottom: 1rem;
}

.contact p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
}

/* QR Codes Section */
.qr-codes {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.qr-item {
    text-align: center;
    margin: 20px;
    flex: 1;
    max-width: 250px;
}

.qr-item img {
    width: 150px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.qr-item p {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.qr-item a {
    color: #0D3913;
    text-decoration: none;
    font-weight: bold;
}

.qr-item a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #0D3913;
    color: white;
    margin-top: 2rem;
}
